--
-- PostgreSQL database dump
--

-- Dumped from database version 17.3
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Image; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Settings" (id, key, value, "createdAt", "updatedAt") FROM stdin;
cm8cpemxp0000w9kw5jfm3da4	admin_credentials	{"login":"admin","password":"$2b$10$uF7Z6Ya140Hhc3rlg4qwEu8ozr2KQ0/wRdN3irS1yhUoMvUMIeOOe"}	2025-03-17 06:48:56.221	2025-03-17 06:48:56.221
cm8d26ui70000w9h4v3izhtdu	telegram_id	5374327012	2025-03-17 12:46:47.788	2025-03-18 19:14:32.81
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

